/* Estilo personalizado */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-image: linear-gradient(to right, #007bff, #6610f2);
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
